.aboutus_sobreNosotros {
	font-family: "Jomhuria";
}

.aboutus_hero-section {
	position: relative;
	min-height: 425px;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 40%;
}

.aboutus_hero-background {
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	flex-shrink: 1;
}

.aboutus_hero-content {
	position: relative;
	flex-shrink: 2;
	background-color: #24892f;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
	padding-right: 10px;
}

.aboutus_main-title {
	font-size: 96px;
	line-height: 1;
	margin: 0;
}

.aboutus_subtitle {
	font-size: 30px;
	text-align: justify;
	margin-right: 15px;
	margin-top: -8px;
}

.aboutus_form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.aboutus_parteCentral {
	background-color: #d9d9d9;
	display: flex;
	align-items: stretch;
	gap: 3%;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 5%;
	padding-bottom: 5%;
}

.aboutus_parteCentral__der {
	display: flex;
	margin-left: 0;
	text-align: center;
	flex-direction: column;
	flex: 2 1 60%;
	justify-content: center;
}

.aboutus_parteCentral__izq {
	display: flex;
	margin-left: 0;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 40%;
	gap: 10px;
}

.aboutus_parteCentral__der-título,
.aboutus_parteCentral__der-subtitulo,
.aboutus_parteCentral__der-texto,
.aboutus_parteInferior__título {
	font-size: 200%;
	color: black;
	margin: 0 60px;
	align-self: left;
}

.aboutus_parteCentral__der-texto {
	text-align: left;
	margin-left: 20px;
}

.aboutus_parteCentral p {
	margin: 0;
}

.aboutus_parteCentral__der-input {
	width: 100%;
	height: 10%;
	border: none;
	background: none;
	border-bottom: 2px solid #000000;
	margin-bottom: 20px;
}

.aboutus_parteCentral__izq-img {
	margin-left: 0;
	width: 30%;
	height: auto;
}

.aboutus_parteInferior {
	background-color: #64966d;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 1% 1%;
}

.aboutus_parteInferior__título {
	color: white;
	align-items: center;
	margin-left: 42%;
}

.aboutus_button1 {
	background-color: black;
	border: none;
	width: 3%;
	height: auto;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 0px;
	margin-top: 0%;
	margin-right: 2%;


}

.aboutus_button2 {
	background-color: black;
	border: none;
	width: 50%;
	height: auto;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 50px;
	margin-top: 5%;
	margin-bottom: 5%;
	align-self: center;
}

.aboutus_button2:hover {
	background-color: #24892f;
}

@media (min-width: 800px) {

	.aboutus_parteCentral {
		flex-wrap: nowrap;
	}

	.aboutus_parteCentral__der,
	.aboutus_parteCentral__izq {
		width: 48%;
	}

	.aboutus_parteCentral__izq-img {
		width: 40%;
		height: auto;
	}

	.aboutus_parteCentral__izq-texto,
	.aboutus_parteInferior__título {
		font-size: 300%;
	}

	.aboutus_button1,
	.aboutus_button2 {
		width: auto;
	}

	.aboutus_button2 {
		background-color: black;
		border: none;
		font-size: 150%;
		width: 50%;
		height: auto;
		color: white;
		text-align: center;
		padding: 10px;
		border-radius: 50px;
		margin-top: 5%;
	}

	.aboutus_parteCentral__izq-título1,
	.aboutus_parteCentral__izq-título2 {
		font-size: 200%;
	}

	.aboutus_parteSuperior__img {
		width: 40%;
		height: 90%;
		margin-left: 31%;


	}

	.aboutus-parteCentral__der-inferior {
		font-size: 250%;
		color: black;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 22%;

	}

	.aboutus_hero-section {
		flex-direction: row;
	}

	.aboutus_hero-background {
		width: 80%;
	}
}
