.blog_home-page {
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	font-family: 'Jomhuria', cursive;
}

.blog_hero-section {
	position: relative;
	min-height: 425px;
	width: 100%;
	display: flex;
	max-height: 40%;
}

.blog_hero-background {
	object-fit: cover;
	overflow: hidden;
	width: 80%;
	flex-shrink: 1;
}

.blog_hero-content {
	position: relative;
	flex-shrink: 2;
	background-color: #24892f;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
	padding-right: 10px;
}

.blog_main-title {
	font-size: 96px;
	line-height: 1;
	margin: 0;
}

.blog_subtitle {
	font-size: 44px;
	margin-top: -8px;
}

.blog_main-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.blog_article {
	background: #64966d;
	padding: 10px;
	margin: 10px;
	color: #ffffff;
	border-radius: 5px;
}

.blog_article_title {
	font-size: 60px;
	margin: 0;
	text-wrap: balance;
	overflow-wrap: break-word;
	text-align: left;
}

.blog_article_body {
	font-size: 25px;
	margin: 0;
	width: 75%;
	text-wrap: balance;
	text-align: left;
	overflow-wrap: break-word;
}

.li_unformatted {
	list-style-type: none;
}

.blog_load-more {
	font-size: 30px;
	width: 20%;
	min-width: 200px;
	height: 50px;
	border-radius: 51px;
	background-color: #24892f;
	border-width: 0;
	color: #ffffff;
	align-self: center;
}

@media (max-width: 991px) {

	.blog_hero-layout,
	.blog_content-layout {
		flex-direction: column;
	}

	.blog_main-title {
		font-size: 60px;
	}

	.blog_subtitle {
		font-size: 30px;
	}
}
