.main-container__forum {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.chat-container__forum {
  background-color: #e9f5ec;
}

.form__forum {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #25d366;
  position: relative;
  margin-top: auto;
  font-size: 20px;
}

.input__forum {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  flex: 1;
  flex-shrink: 2;
}

.ul__forum {
  padding: 0;
}

.button__forum {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button__forum:hover {
  background-color: #075e54;
  color: white;
}

.img-btn__forum {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.img-btn__forum:hover {
  background-color: #075e54;
  color: white;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #2c2c2c;
  color: white;
  margin: 20px 20px;
  min-height: fit-content;
  height: 240px;
}

.username-banner {
  background-color: #25d366;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  height: 40px;
  min-height: fit-content;
  align-content: center;
  box-sizing: border-box;
}

.message-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100px;
  overflow: auto;
}

.message-profile img {
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

.message-content {
  max-width: 400px;
  background-color: #2c2c2c;
  padding: 15px;
  word-wrap: break-word;
  font-size: 18px;
  color: white;
  min-width: 40%;
  flex-grow: 2;
}

.message-body {
  font-size: 18px;
}

.message-img-container {
  width: 250px;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  align-self: center;
}

.message-img {
  width: 100%;
  height: 100%;
  max-height: 240px;
  object-fit: contain;
}

.full-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-image-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
}

.close-image-btn:hover {
  background-color: red;
}

.message-time {
  font-size: 0.85em;
  color: gray;
  margin-top: 2px;
}
