.register_content {
	padding: 30px;
	background: #2e7d32;
	color: white;
	width: 150%;
}

.register_back {
	color: #d9d9d9;
}

.register_form_section {
	margin-bottom: 10%;
}

.register_form_section>input {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 1px;
	box-sizing: border-box;
}

.register_form_text {
	display: block;
	font-size: 26px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
}

.button_1 {
	width: fit-content;
	min-width: 60px;
	padding: 10px;
	background: #fffeb33b;
	border: none;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.register_form_section_pfp {
	width: 100%;
}

.register_container {
	display: flex;
	flex-direction: row;
}

.register_img {
	width: 100%;
	object-fit: cover;
	background-image: url('../foto-6-1024x768.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.register_to_login {
	text-align: center;
}

.register_to_login a {
	text-decoration: underline;
	color: #d9d9d9;
}

.register_divider {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0;
	position: relative;
}

.register_divider::before,
.register_divider::after {
	content: "";
	flex: 1;
	height: 1px;
	background: white;
}


.divisor {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px;
}

.register_form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.register_phone::-webkit-outer-spin-button,
.register_phone::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.register_phone [type=number] {
	-moz-appearance: textfield;
}

.register_title {
	font-size: xx-large;
	text-decoration: underline;
}

.register_subtitle {
	font-size: x-large;
	margin-top: 10px;
}

.register_pfp {
	display: none;
	visibility: hidden;
}

.register_pfp_preview {
	width: 50%;
	border-radius: 1px;
	aspect-ratio: 1 / 1;
}

.register_form_text_pfp {
	text-align: center;
}

.center {
	display: flex;
	text-align: center;
	flex-direction: column;
}

.register_google_button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: fit-content;
	padding: 12px;
	background: white;
	border: none;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	align-self: center;
}

.register_google_button:hover {
	background-color: #43a047;
}

.register_google_logo {
	width: 25px;
	height: 25px;
}

@media (max-width: 600px) {
	.register_img {
		display: none;
	}
}

.register_field {

	font-size: 20px;
}
